body {
  --text-color: #eeeeee;
  --background-color: rgba(40, 40, 57, 0.96);
  --body-background-gradient: linear-gradient(to bottom, #4b134f, #c94b4b);
  --player-background: #91a4b8;
  --navbar-width: 250px;
  --player-height: 85px;
}
