body {
  --text-color: #eeeeee;
  --subtext-color: #a9a9a9;
  --navbar-background-color: rgb(34, 34, 53);
  --background-color: rgb(40, 40, 57);
  --body-background-color: #eeeeee;
  --player-background-color: transparent;
  --navbar-width: 250px;
  --player-height: 85px;
}
